<% provide(:title, @user.name) %>
<div id="user_information">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <h3>Email address:
        <%= @user.email %>
      </h3>
    </section>
</div>