// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import 'bootstrap-sprockets';

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

h1,
h2,
p,
a,
li,
ul,
#login_form,
#register_form,
#contact_form,
#page_title,
#album_main,
#welcome {
    font-family: "San Francisco";
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

html,
body {
    min-height: 100%;
}

#redirect_link a,
#redirect_link a:visited,
#redirect_link a:hover,
#redirect_link a:active {
    text-decoration: none;
    color: #6da5ff;
}

body {
    background-color: white;
    min-width: 1250px, 1250px;
}

.header {
    background-color: dodgerblue;
    margin: -8px -8px -8px -8px;
    padding-bottom: 20px;
}

.nav > li {
    display: inline-block;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

#nav-color li > a{
    color: #000;
}

.navbar-text > a:hover {
    text-decoration: none;
}

li a {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav > li > a {
    color: #fff;
    padding: 39px 14px 0px 80px;
    font-size: 20px;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav > li {
    margin-right: 18px;
}

#login_form,
#register_form,
#contact_form,
#user_information {
    background-color: #fff;
    padding: 25px;
    margin: 130px auto;
    -webkit-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
    -moz-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
    box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
    height: auto;
    text-align: center;
    max-width: 650px;
}

#contact_form {
    max-width: 725px;
}

#login_form > p, #register_form > p {
    width: 70%;
    display: inline-block;
}

#about_me {
    background-color: #fff;
    padding: 50px;
    margin: 130px auto;
    -webkit-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
    -moz-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
    box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
    min-width: 900px;
    max-width: 900px;
    height: auto;
    text-align: center;
}

#about_me > p {
    padding-top: 10px;
    font-size: 26px;
    line-height: 150%;
    text-align: left;
}

#album_main {
    background-color: #fff;
    padding: 25px;
    margin: 130px auto;
    margin-top: 100px;
    width: 95%;
    min-width: 50%;
    height: auto;
    text-align: center;
}

.info {
    margin-top: 20px;
    height: 1px;
    width: 50%;
    border: none;
    display: inline-block;
    background: #e0e0e0;
}

#info-para {
    margin-top: 20px;
}

img > td > tr > #album_main {
    width: 200px;
    height: auto;
}

#submit {
    /*    border-radius: 50px;*/
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    width: auto;
    border: none;
}

#submit:hover {
    background-color: skyblue;
}

#error_msg {
    color: red;
    text-align: center;
    font-size: 18px;
}

#login_form,
#register_form,
#contact_form p, {
    font-size: 20px;
}

#error {
    color: red;
}

#success {
    color: limegreen;
}

#float img {
    display: inline-block;
    width: 30%;
    height: auto;
    float: right;
    padding: 10px 20px 20px 20px;
}

#ad {
    float: right;
    display: inline;
}

#logo {
    max-width: 250px;
}

.image img {
    height: auto;
    width: 100%;
    margin: 8px 0 0 -8px;
    overflow: hidden;
    top: 0px;
    left: 0px;
    position: relative;
}

#image_slider {
    height: auto;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    margin: 0 0 0 -8px;
    top: 0px;
    left: 0px;
    position: relative;
}

#image_slider .slides {
    height: auto;
    width: 100%;
    margin: 0px;
    margin: 0 0 0 -8px;
    overflow: hidden;
    top: 0px;
    left: 0px;
    position: relative;
    display: inline;
}

#image_slider .slide {
    height: auto;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    margin: 8px 0 0 -8px;
    top: 0px;
    left: 0px;
    position: relative;
    float: left;
}

#albums img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    position: relative;
}

#albums img {
    max-width: 900px;
    min-width: 900px;
    -moz-transition: all 1.3s;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
    position: relative;
}

#albums {
    text-align: center;
    position: relative;
}

#albums h2 {
    text-align: center;
    position: relative;
    font-size: 40px;
    padding-bottom: 10px;
}

.page_title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.videos_main_title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    padding-top: 95px;
}

#album_main_title {
    margin: 50px auto;
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
}

#social_media_icons img,
a {
    height: 40px;
    widows: 40px;
    text-align: center;
    display: inline;
}

#social_media_icons li {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

#album_names_sub {
    display: inline;
    list-style: none;
}

input, .form-control {
    width: 70%;
    padding: 12px;
    margin: 10px;
    box-sizing: padding-box;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #e0e0e0;
    height: 48px;
    resize: none;
}

textarea {
    padding: 12px;
    margin: 10px;
    box-sizing: padding-box;
    font-size: 16px;
    display: inline;
}

input:focus,
textarea:focus {
    border: 1px solid #b3e0ff;
    outline: none;
    font-size: 16px;
}

#label p {
    float: left;
    display: inline;
    width: 200px;
    clear: left;
    text-align: right;
}

td {
    text-align: center;
    padding: 30px;
}

.footer {
    color: white;
    position: absolute;
    width: 100%;
}

.home {
    bottom: 0;
}

.g-signin2 {
    text-align: center;
    margin: 0px auto;
}

.carousel-caption > h2, p {
    font-weight: bold;
}


/*Manage Account*/

#manage_account {
    background-color: #e6f9ff;
    padding: 20px;
    margin: 125px auto;
    border-radius: 50px;
    width: 60%;
    min-width: 60%;
    height: auto;
    text-align: center;
}

#manage_account_display p {
    margin: 20px auto;
    padding: 0 20px 0 20px;
    text-align: left;
    font-size: 20px;
}

.img1 {
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4)), url("https://lh3.googleusercontent.com/sfZF7jNtso6KxmSvCEAAKTLdlX7JZdDaDYb1Hok1MZ0dKh99XY7UAsScCaMS3S0Fjg_XHwXgoz2Kw_MfQ9NI3l5mQ2xOwqpFU-B2JXDupCCmbk4utuNycKQELAs2bbMmIX_URTktmDNq459SikdEKyrYHduiuc7xKqYBHRdEdHRrYznC-idOmjWK7OYn__DOETys1LqrgCJOZWPjc16cIsghrPT2QbjhBRoBLw62mFQQULCZIGluweWWulDBmGGA5pCXNfyxM7vlacJgy38-QjiGGkcItqFjfww_vlMrviXkgfJ0BsC-6lREFdeOVuf69WMToePHdv8zVnxotPMn5-jwifGpigMqurBGAiPUO1DpwuLb0vUrEMhIC5i9XoDhlG17kR975PD2dBa1dvJPCkoNxYD_ZWZLt1sYnrPeQGOzGoAmGNiYlREh2-wMhbYfvD85pH34yquv3wqYGPtHQ0GXHQ_Di-iFqCZvbbomOU7eHXqdRUPB5XkUruM7B4DBcfevxb5TrGhaB_TthVU0FHUVJkXMu3_kX9jsnuMDsQ38P179GCYmM2JuaRlJcEbQYZljidBfKi82REgUQvpHD6x4dioC-M-U=w1451-h968-no") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.img2 {
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4)), url("https://lh3.googleusercontent.com/Xauu8JjMVjKUmKnq_RdElPKTTW_2nArTwCIQqq8eTCba6cuAVlXbCI0yr9bV-3b35z8kSTuem78citulNm6tcawKeDPsIWfl1oY5chxtLY8ztDtPqyzVmToBZ4ktCU11meVwX-vrLxyZsb761rmjjuzB-SbbrPrq4jg-KYgPRHMoNUG6VfIMxo5NhPn2-4FzxGvw02puM-jj5Hj81kujp8Lq9d2Bu1JTz7BDM8u8_vLklxRPsMfF9jE4IdNDDZgp0vpmcbhPBGrRNHZwYysFKTq0xMi05hiCe25RHU0m8bvs-IzP90VnNsVJBiEwV9NKCKbxmmvve5qHAxeaPGhNfmKxPKtgDJxN_Aj9vjEYhTaAYmokowbcN2CEXHw2nCWnfsBXtznN-MbUYyHbZJYftHUmN_GxGxs2d215M_Cxx63DND6t_t02vwLcCUupo_94vtCvR_6ySq2RQj76ojNpMcYHOFx6AdpR5e0PUAuVPn-mgY4hvZFUqkkaEFwRmmAKEERXyvdf2_TJpTHTqJIGY0kC0x8sJTOB-RARIdtG5Q7MHSCi8MRyMPFQ7Juwav89EbnG1GrQa1I2PNBdzys-Bfew2LB5ABX-WBwtoO96l83jJHsVuIae=w1910-h1274-no") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.img3 {
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4)), url("https://lh3.googleusercontent.com/fwKeaAULWAoq-MFGpsTGLAw9qIVTK6Apf-wb70WmsAhlnzwnFMox7pXQWaLEqMzZQp49-rO6FGdROKC0e9EFsBi18GgjuBAf0euwRd01sluZOHl11Ya60AZ050hDe1MCaFCWPG8kc2NUGKcW2PCO-aGi0-WIFp8caFRYBl2NACgh49esk6Zq0J3vPGRCmHlvc6vxsrO0KIXLAQLa6AJSFaGOB_lCihNXud1nLtllWTkfwr4zr122Hn22EHeteoYB8fAeACPQqe9zrEjObyD6ysb-OF8JezfJwQxpyr7EBcqBwUbNMV4SdgzB6OFXlUApwaANjmuvJxopCp_Yt7qGfFpXUwDceZ1HrsSgsXykr6cglH9FMsbKev2wioZYdwS0oOS4GKgkusQt0UuN8w0r6q7LjqwyGZZXHy3mZK0212bniBAr5U-n099U3Y_LB6Mf6Qq5LhO1cWXy1LTuRHzY37DhNldgeas3unG-0HW1eXKj7pIXrtWhQjgsjmcT-2t2V6YevIvysmoChEe8MxquO_eGweVkGFl2LuJ3EHVuW195n5kAhigqiQw9Q-He1TcEKbcXQElaP5uuTqx8aZHTzx3UxixpcKK1=w1451-h968-no") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.img4 {
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4)), url("https://lh3.googleusercontent.com/-Lo9rtwtDhAwVYTrirpt3rYyxJ4k0m_YJ38b37nD5nV6jkyp-wY5SgkhGTJqgTGlZ27Uc0TKmcPiBqDbD7xIFH7P0rAZkU39yfMiDKb_-crvQvJz__ChyXOAJXao0mFY3x7cD_a8GASXdW6e1nY8pGmRcnlMIWA3U5lAcde6hN_1Rar0L5Xn0WZ_hbAxNftU0b7YGCwLzNJh4n01ArjNC6OfHNBST47FAMaPEl2nqMVlqnbQblk-_-KpuTgHT5tLTjS9w6oAh8xEarddqjMxpgj6g9OnY_Q_OrWIqsP-2H81U3xnN0pjVL2TDdzOibvOK7s-zfxXeS7j6l-9-M9LhWkWve9QJZs8W1tR7c4fRKoyS6wXXamnagWXNTQ4k01VjFCCkPBEtJ9BlujQblJVCAU6JoApd9KdzRnDtuId0SzCg9DkZ8QOEqXITdu6dz-z94zm7Um3-5L7DvvvqhnDqSGbPhLaTd5k-uth2PGKKI4llMp2Y_gHqBair9x3-11QpcWf7XJvUsALrFJC27BsX3dxKLmaa4-Cq8KRIkvzIuNJIJWFhzwUU7h9DWGWapu3a1mjA4A3Hmi_voOxOYCq_KU8z6pRlWfU=w1086-h725-no") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

@media (max-width: 768px) {
    .img1 {
        background: url("https://lh3.googleusercontent.com/XZZgY2xlBSJq8fb5LUqRUJ5EY7dmC9nboXEJ_lJz2cIkH4MO_wePjw8IqIcuJyiZNPOdURjIy0FrpoUIAqivpp9K_NUXKuHPPyfOuZpfX8zSFKQ4py7se0DCCPvAp_W_hl9Ud4VV0EtnQkI9vQBAOPiGVefu0v9QM6uPe9q-b84eUxFiudZ-P-LH-qGWmejoiPUj5KOwu4ylgVbqvuW2TaqFiv2rWumL9Wmodo5z1Nzw48r3fp4Sc3pCi6A5NvODrTjFNrPnqF5S1_H7DnKtyAoCJEECFNPjr9w-wUYVFjB9P6XxRNDWAXEUeEdRbQMJVFKNGE-coXnzTtpbk0dic_clH7haiqnHESB6hbe8GtMjLhl9slTBpAxeB47WJD1_ABfTLHQcSWsm2Wh7wIPrE-hg4sO6SrXjO3WYqtfCIpoo8qeqcZ48-_zD36n2yjfh4h1nMh0CD32JOYT00tH26cMHStLpMP140HioDDaXGxY0o0Qi2y2s_x1pAgu9EcfdMEF23r5T7djwwAdJ3Hi5tLV90VXJCU-FsWygeVdtbPcTNMZFuQ4feSvdVFkDUmVDffaSN6EI4syD-T7DSqKGPvGFL8kmoMr7=w1298-h866-no") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .img2 {
        background: url("https://lh3.googleusercontent.com/6lBEiyD8g3-NBw5gCD4YEIFuRTReARKJ6-pQebMr97EJhL6SREXjTJw3dsipDSz8K9Rq3fmo9SVksHuSLN_Ygzo2SjEMINGgRza-KRHdpo_1kqhkQ7Lxqgiw17_n3PboXr03jKa2PhrcBl9pn2JZGVzdFqsQ8ztpHk9ZKAGhP1mIOFafQcUnxhXOgqAIywd2RzEhQNA9GxGOrOBG-SA4VJzJIm8NfDkrNBWTZSNxSsuEr_HYd_rKCO8CwvuCYiTr8jBW3AWtsARFMyvNl_GoVFkJhxsb2rbf0r9bpsbCzyAQtCQIrQytwj_rPRIft6u54kml80baaxipFEt8kC0G5auORoEYtfcQBBwbKv3gSbcyAWQiYjF0MUAODUjPgqPyJVY7PmYkYi9piHUNLDHGmhV1gI5j4QdYBL8nEv4mNAkxD67fSY_iwb9f5M-1eEYljud8pDVD6mMf6NEOCLyl6EviqJqst3AdsjH4UKBxpmrFJmONsZdhW-inbpXYyEsXRUDivlHTbg8mdaqrBzx-18iaDYEcPwmgz_eLXyrBoFGXnq4uNjQdWtMgxuqpaK9WZxu7anunIP8VmOl5mYi4nx5o0opIMDfX=w727-h1090-no") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .img3 {
        background: url("https://lh3.googleusercontent.com/6o_Yskkeat8Se6SM71NmiJ8LXJ1951OIWX-6jieDZSlu6EhNPJ3z7eRqNfEdcmN2vbqYABgcbn4U05Ufpg8ixnWqRz1PxtcPfOy_x4955HYaan_rotXSYhSFElSx5QCj_nv0anfK0KAoKjvrnmRjhs11k2nR_J2qnJYLNPo-Swdj2a1shF_gHD05Ff3MS_SkJsBSIOMcReHTfGEAHFKxjcPa3UT7_KVI4MYSs_OcYtx3REli1QlRNxBI_3Li2AoKMv-HCLKFtxkHR2e_kDytF6Jxeoj4NgAJX92lrPf3kyCZBrnQ2RI0M4u6uGMdPL40eCiGan6En4zFfvvMHrcWEtTPbZCjEKnAPd4EtcxE5_EekkXI2_RGLlYsk8UP0GeucB3bxtF9wIDHd_3q3pLGO3dPaQXR1NRsWCo17tMjhtbAVBNVylYGNQ4vE72GvaOm3fo81wMLoLB3etESTCDuhejzEXV0mvbV7P-Moo_QaDozigiLQ8-tPdyaLqXrnR93zLzeC87m-gNCez-U9BVex88IZN-_0Jiaav3Jl7OV1Qpy81vBO0ommf9T6e6QUuRFucLommHmmiiC-pD0gh6c21x0bs6b6fGW=w727-h1090-no") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .img4 {
        background: url("https://lh3.googleusercontent.com/nEOZaJhMyFi-PglZSyOxtg_7erZAOSSUYSLVRuDkMmnlVLmOaCPBgcSz9xn-UMb0-QnmK6ETqdKGOBSp1pEkGwUIDdkFtfS6ZcudB1vXen3jJ4uQehgVwRlm-wKHbYDWinJQaPCOiJHrsrOh823YXLrmDYTKdb_Fv92v2GxqY6_RiHF0VZl-HKmJCXs0Sh1WGnwC_uISoxo1tgKSmDjz6OsGSLOZkAtuxXLMxGTDsmGA3hULPWxNWTXuSLk6qqmODlUQ-ejxDGmDyJUkv6nd6WBH9NBDgqd-ne9ghoNw_89TpC03yEvp1EZnAQ69uvJKXTAHOS4xbJZRk9wIELbD-vB1a05OnlueSne8cWPrTykCEONhqk6AQVa-wFVrlbfnaosXhJSnej6kQL76iXD9NTYp4KgUVP0kGSX5r0HZamKELw0DbaPC-URg_dNpm-ohdjzkxiOdmfjCBe9cy5f4cfrFVBpc8pwgbXpwk8HtPxFPNpV-o2aWWc27P5QY-94SZZTjebJg5JIr30o3m5iqyKJoIJtOX6sScRJy8jKhK0hvmLcykGlvdV5AiPNTZiyej39vCdPPBtCcDYXabvU9X6JV7jpDKsl_=w1298-h866-no") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height: 100vh;
    }
}


/* Adjust colors of nav for mobile */

@media (max-width: 768px) {
    .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
}

.yt-video {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 20px 0 20px 0;
}

#yt_video_title {
    margin: 50px 0 20px 0;
}

@media (min-width: 740px) and (max-width: 1000px) {
    .yt-video iframe {
        width: 640px;
        height: 480px;
    }
    
    #about_me {
        background-color: #fff;
        padding: 50px;
        margin: 170px auto;
        -webkit-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        -moz-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        min-width: 90%;
        max-width: 90%;
        height: auto;
        text-align: center;
    }
    
    #float img {
        display: inline-block;
        width: 70%;
        height: auto;
        float: none;
        padding: 0 20px 20px 20px;
    }
    
    #about_me > p {
        padding-top: 10px;
        font-size: 38px;
        line-height: 150%;
        text-align: left;
    }
    
    #about_me > h1 {
        font-size: 71px;
    }
}

@media (min-width: 431px) and (max-width: 739px) {
    .yt-video iframe {
        width: 480px;
        height: 360px;
    }
    
    #login_form,
    #register_form,
    #contact_form,
    #user_information {
        background-color: #fff;
        padding: 20px;
        margin: 125px auto;
        -webkit-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        -moz-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        width: 90%;
        text-align: center;
        min-width: 600px;
    }
    
    input, .form-control {
        width: 90%;
        padding: 12px;
        margin: 10px;
        box-sizing: padding-box;
        font-size: 26px;
        display: inline-block;
        border: 1px solid #e0e0e0;
        height: 48px;
        resize: none;
    }
    
    textarea {
        padding: 12px;
        margin: 10px;
        box-sizing: padding-box;
        font-size: 26px;
        display: inline;
    }
    
    input:focus,
    textarea:focus {
        border: 1px solid #b3e0ff;
        outline: none;
        font-size: 16px;
    }
    
    #about_me {
        background-color: #fff;
        padding: 25px;
        margin: 170px auto;
        -webkit-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        -moz-box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        box-shadow: 10px 10px 47px 0px rgba(184,184,184,1);
        min-width: 90%;
        max-width: 90%;
        height: auto;
        text-align: center;
    }
    
    #float img {
        display: inline-block;
        width: 50%;
        height: auto;
        float: none;
        padding: 0 20px 20px 20px;
    }
}

@media (min-width: 401px) and (max-width: 430px) {
    .yt-video iframe {
        width: 420px;
        height: 360px;
    }
}

@media (max-width: 400px) {
    .yt-video iframe {
        width: 320px;
        height: 260px;
    }
}

.gogolead {
    width: 200px;
}

li > img {
        width: 75%;
        height: auto;
        margin: 20px 0 20px 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}