<div class="navbar navbar-default navbar-bottom footer" role="navigation">
    <div class="container">
        <div class="navbar-text pull-right">
            <p>&copy 2017 Hammad Takes Pics</p>
            <%= link_to '', 'https://www.facebook.com/hammadtakespics', class:'foot fa fa-facebook-square fa-3x', target:'blank' %>
            <%= link_to '', 'https://www.instagram.com/hammadtakespics', class:'foot fa fa-instagram fa-3x', target:'blank' %>
            <%= link_to '', 'https://twitter.com/hammadtakespics', class:'foot fa fa-twitter fa-3x', target:'blank' %>
            <%= link_to '', 'https://www.youtube.com/channel/UCVQwzp1Qpr2FONc5DJS2agg', class:'foot fa fa-youtube-play fa-3x', target:'blank' %>
        </div>
    </div>
</div>
