<div class="navbar navbar-default navbar-bottom footer" role="navigation">
    <div class="container">
        <div class="navbar-text pull-right">
            <p>&copy 2017 Hammad Takes Pics</p>
                <%= link_to '', 'https://www.facebook.com/hammadtakespics', class:'foot fa fa-facebook-square fa-3x', target:'blank' %>
                <%= link_to '', 'https://www.instagram.com/hammadtakespics', class:'foot fa fa-instagram fa-3x', target:'blank' %>
                <%= link_to '', 'https://twitter.com/hammadtakespics', class:'foot fa fa-twitter fa-3x', target:'blank' %>
                <%= link_to '', 'https://www.youtube.com/channel/UCVQwzp1Qpr2FONc5DJS2agg', class:'foot fa fa-youtube-play fa-3x', target:'blank' %>
            <!--
                    <a href="https://www.instagram.com/hammadtakespics/" target="_blank"><img src="images/instagram_2016_icon.png"/></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/hammadtakespics/" target="_blank"><img src="images/square-facebook-128.png"/></a>
                </li>
--></ul>
        </div>
    </div>
</div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>