<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks!</h1>
    <p>
      We have successfully recieved your message and will be in touch shortly.<br>
    </p>
    <p>
      In the meantime, check out more of https://hammadtakespics.com
    </p>
  </body>
</html>